body {
    font-family: Varela Round;
    background: #70f5ff;
}


.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(87, 87, 87, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-image {
        height: 50%;
        width: 100%;
        border-radius: 8px 8px 0px 0;
        transition: all 0.3s ease-in-out;
        transition: 0.5s all ease;
        overflow:hidden;
        opacity: 2;
        transition: 2s;
        background-size: 160%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    
    .card-image  :hover{
        transform: scale(1.5);
        box-shadow: 2px 2px 15px black;
        overflow:hidden;
        background-size: 200%;
        transition: 3s;
    }
    

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
    }

    .card-text {
        padding: 10px 15px;
        background: #fff;
        font-size: 14px;
        color: #636262;
    }

    .card-button {
        display: flex;
        justify-content:center;
        padding: 10px 0;
        width: 100%;
        background-color: #1F487E;
        color: #fff;
        border-radius: 0 0 8px 8px;
    }

    .card-button:hover {
        text-decoration: none;
        background-color: #1D3461;
        color: rgb(255, 15, 15);

    }
