.bas{
    background-color: black;
    height: 80px;
    width: 80px;
    top: 30px;
    margin-left: 30px;
    border-radius: 100%;
    position: absolute;

}

.govde{
    background-color: black;
    height: 250px;
    width: 90px;
    top: 115px;
    margin-left: 25px;
    position: absolute;


}

.qol1{
    background-color: black;
    height: 200px;
    width: 20px;
    top: 115px;
    margin-left: 0px;
    position: absolute;
}

.qol2{
    background-color: black;
    height: 200px;
    width: 20px;
    top: 115px;
    margin-left: 120px;
    position: absolute;
    animation-name:qol-her;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  transform: skew(rad);  
}

@keyframes qol-her{

    0%{
        transform-origin: top left;
        transform: rotate(-0.5turn);
    }

    100%{
        transform-origin: top left;
        transform: rotate(0.0turn);
}
}
.ayaq1{
    background-color: black;
    height: 250px;
    width: 20px;
    top: 368px;
    margin-left: 35px;
    position: absolute;
}
.ayaq2{
    background-color: black;
    height: 250px;
    width: 20px;
    top: 368px;
    margin-left: 86px;
    position: absolute;
}
.goz1{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    top: 43px;
    margin-left: 70px;
    border-radius: 100%;
    position: absolute;
}
.goz2{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    top: 43px;
    margin-left: 42px;
    border-radius: 100%;
    position: absolute;
    animation-name:goz-qirp ;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes goz-qirp{
    
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(70deg);

    }
}

.agiz{
    background-color: rgb(255, 255, 255);
    height: 18px;
    width: 45px;
    top: 76px;
    margin-left: 47px;
    border-radius: 100%;
    position: absolute;
}
.agiz2{
    background-color: rgb(0, 0, 0);
    height: 18px;
    width: 45px;
    top: 74px;
    margin-left: 47px;
    border-radius: 56%;
    position: absolute;
}